@model WebApplication1.Models.PlayerTeamViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int index = 0;
    
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@*the tutorial wanted us to do this... why make a seperate model for
*@
<form asp-controller="Players" asp-action="Index" method="get">
    <p>
        <select asp-for="PlayerTeam" asp-items="Model.Teams">
            <option value="">All</option>
        </select>

        Name: <input type="text" name="SearchString" />
        <input type="submit" value="filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Player.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Player.BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Player.Team)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Player.Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Player.Rating)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Players)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirthDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Team)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    <form>
                        <button type="button" data-toggle="modal" data-target="#exampleModal" class="btn-primary btn" asp-route-id="10" onclick="getPlayerData(@item.Id)">Edit</button> |
                        <button type="button" class="btn-primary btn" data-toggle="modal" data-target="#detailsModal" asp-route-id="@item.Id" onclick="getItemIndex(@index)">Details</button> |
                        <button class="btn-primary btn" asp-action="Delete" asp-route-id="@item.Id">Delete</button>
                    </form>
                    @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                </td>
            </tr>
            index++;
        }
       @{index--; }
    </tbody>
</table>
<!-- Button trigger modal -->
@*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Launch demo modal
    </button>*@

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Player Info</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-action="Edit">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">

                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input id="playerID" type="hidden" asp-for="Player.Id" />
                            <div id="playerName" class="form-group">
                                <h1>cool</h1>
                                <label asp-for="Player.Name" class="control-label"></label>
                                <input asp-for="Player.Name" class="form-control" />
                                <span asp-validation-for="Player.Name" class="text-danger"></span>
                            </div>
                            <div id="playerRating" class="form-group">
                                <label asp-for="Player.Rating" class="control-label"></label>
                                <input asp-for="Player.Rating" class="form-control" />
                                <span asp-validation-for="Player.Rating" class="text-danger"></span>
                            </div>
                            <div id="playerbday" class="form-group">
                                <label asp-for="Player.BirthDate" class="control-label"></label>
                                @*added type = date to ensure dynamic control, no reason for this not to be included...*@
                                <input type="date" asp-for="Player.BirthDate" class="form-control" />
                                <span asp-validation-for="Player.BirthDate" class="text-danger"></span>
                            </div>
                            <div id="playerteam" class="form-group">
                                <label asp-for="Player.Team" class="control-label"></label>
                                <input asp-for="Player.Team" class="form-control" />
                                <span asp-validation-for="Player.Team" class="text-danger"></span>
                            </div>
                            <div id="playerSalary" class="form-group">
                                <label asp-for="Player.Salary" class="control-label"></label>
                                <input asp-for="Player.Salary" class="form-control" />
                                <span asp-validation-for="Player.Salary" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                @*<input type="submit" value="Save" class="btn btn-primary" />*@
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="detailsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="detailsModalLabel">Player Info</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div>
                        <div>
                            <h4 style="margin-left: 15px;">Player</h4>
                            <hr />
                            <div class="container">
                                <dl id="detailsForm" class="row">
                                    <div>

                                    </div>
                                    <dt class="col-lg-3">
                                        @Html.DisplayNameFor(model => model.Player.Name)
                                    </dt>
                                    <dd class="col-lg-9">
                                        @Html.DisplayFor(model => model.Players[index].Name)
                                    </dd>
                                    <dt class="col-lg-3">
                                        @Html.DisplayNameFor(model => model.Player.Rating)
                                    </dt>
                                    <dd class="col-lg-9">
                                        @Html.DisplayFor(model => model.Player.Rating)
                                    </dd>
                                    <dt class="col-lg-3">
                                        @Html.DisplayNameFor(model => model.Player.BirthDate)
                                    </dt>
                                    <dd class="col-lg-9">
                                        @Html.DisplayFor(model => model.Player.BirthDate)
                                    </dd>
                                    <dt class="col-lg-3">
                                        @Html.DisplayNameFor(model => model.Player.Team)
                                    </dt>
                                    <dd class="col-lg-9">
                                        @Html.DisplayFor(model => model.Player.Team)
                                    </dd>
                                    <dt class="col-lg-3">
                                        @Html.DisplayNameFor(model => model.Player.Salary)
                                    </dt>
                                    <dd class="col-lg-9">
                                        @Html.DisplayFor(model => model.Player.Salary)
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>


    var players = @Html.Raw(Json.Serialize(Model.Players))
    var currId = -1;
    var pData = {};
        // need to generalize this ASAP, style of coding must be adopted early
        // how are you gonna handle another field being added? keep growing the method? not a great workflow
        function getPlayerData(id) {
            console.log(id)
            var player = players.find(x => x.id == id)
            console.log(player)
            var playerID = $("#playerID")
            var playerLabel = $("#playerName > label")
            var playerName = $('#playerName > input')
            var fRating = $('#playerRating > input')
            var fBday = $('#playerbday > input')
            var fteam = $('#playerteam > input')
            var fSalary = $('#playerSalary > input')

            var playerRating = player.rating;
            var playerBday = new Date(player.birthDate)
            var playerTeam = player.team
            var playerSalary = player.salary
            var bdaystring = playerBday.toISOString().slice(0,10)


            playerID.val(id)
            playerName.val(player.name)
            fRating.val(playerRating)
            fBday.val(bdaystring)
            console.log(bdaystring)
            fteam.val(playerTeam)
            fSalary.val(playerSalary)

            pData.id = id;
            pData.name = player.name;
            pData.Rating = playerRating;
            pData.birthDate = bdaystring;
            pData.team = playerTeam;
            pData.salary = playerSalary;

            console.log(pData)
            currId = id;
    }

    function getItemIndex(id) {
        @{ 
            index = 0;
        }
        var detailsForm = $('#detailsForm');
        var detailsDD = $('#detailsForm > dd');

        detailsDD[0].innerHTML = players[id].name;
        detailsDD[1].innerHTML = players[id].rating;
        detailsDD[2].innerHTML = players[id].birthDate.slice(0,10);
        detailsDD[3].innerHTML = players[id].team;
        detailsDD[4].innerHTML = players[id].salary;
        //detailsDD[5].innerHTML = players[id].name;
      

        console.log(id);
    }

    function getEditData(id) {
        var playerName = $('#playerName > input')
        var fRating = $('#playerRating > input')
        var fBday = $('#playerbday > input')
        var fteam = $('#playerteam > input')
        var fSalary = $('#playerSalary > input')

        pData.name = playerName.val();
        pData.Rating = fRating.val();
        pData.birthDate = fBday.val();
        pData.team = fteam.val();
        pData.salary = fSalary.val();

    }

    function submitEdit() {

        getEditData(currId)
        // do people actually like the ajax syntax???

        console.log("pData object right before AJAX call: ")
        console.log(pData)
        $.ajax({
            url: "@Url.Action("SubmitEdit", "Players")",
            type: 'post',
            data: {id: pData.id, player: pData},
            success: function (result) {
                console.log('success')
            },
            error: function (result) {
                console.log(result)
            }
        })

        return false;
    }
</script>
