@model WebApplication1.Models.PlayerTeamViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var leagues = ViewData["Leagues"] as List<League>;
    int index = 0;

    // barf
    var routeID = ViewData["ID"];
}



<div class="sidenav" id="left_sidenav">
    <a class="expandbtn" onclick="hideNav('left_sidenav')">&#9776;</a>
    <a class="closebtn" href="javascript:void(0)" onclick="hideNav('left_sidenav')">&#10005;</a>
    @foreach(var item in leagues)
    {
        <a asp-controller="Players" asp-action="Index" asp-route-id="@item.LeagueID">
            @Html.DisplayFor(modelItem => item.Name)
        </a>
    }
    @*<a asp-controller="Players" asp-action="Index" asp-route-id="1">NHL</a>
    <a asp-controller="Players" asp-action="Index" asp-route-id="2">NBA</a>
    <a asp-controller="Players" asp-action="Index" asp-route-id="3">MLB</a>
    <a asp-controller="Players" asp-action="Index" asp-route-id="4">NFL</a>*@
    @*<button class="btn btn-primary" onclick="hideNav('left_sidenav')">Test Hide</button>*@
</div>

<p>
    @* The syntax for toggling modals is so weird *@
    <button type="button" class="btn btn-primary" data-target="#createModal" data-toggle="modal" onclick="fillPlayerLeagueID(@routeID)">Create New</button>
</p>
<form asp-controller="Players" asp-action="Index" method="get">
    <p>
        <select asp-for="PlayerTeam" asp-items="Model.Teams">
            <option value="">All</option>
        </select>

        Name: <input type="text" name="SearchString" />
        <input type="submit" value="filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Player.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Player.BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Player.Team)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Player.Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Player.Rating)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Players)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirthDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Team)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    <form>
                        <button type="button" data-toggle="modal" data-target="#exampleModal" class="edit btn-primary btn" asp-route-id="10" onclick="getPlayerData(@item.Id,'')" disabled>Edit</button> |
                        <button type="button" class="edit btn-primary btn" data-toggle="modal" data-target="#detailsModal" asp-route-id="@item.Id" onclick="getItemIndex(@item.Id, '')" disabled>Details</button> |
                        <button type="button" data-toggle="modal" data-target="#deleteModal" class="edit btn-primary btn" asp-route-id="@item.Id" onclick="fillDelPid(@item.Id)" disabled>Delete</button>
                    </form>
                    @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                </td>
            </tr>
            index++;
        }
        @{index--; }
    </tbody>
</table>
<!-- Button trigger modal -->
@*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Launch demo modal
    </button>*@

<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createModalLabel">Create New Player</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-action="Create">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">

                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input id="playerLeagueID" type="hidden" asp-for="Player.LeagueID" />
                            <div id="playerNameCreate" class="form-group">
                                <label asp-for="Player.Name" class="control-label"></label>
                                <input asp-for="Player.Name" class="form-control" />
                                <span asp-validation-for="Player.Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Player.Rating" class="control-label"></label>
                                <input asp-for="Player.Rating" class="form-control" />
                                <span asp-validation-for="Player.Rating" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Player.BirthDate" class="control-label"></label>
                                @*added type = date to ensure dynamic control, no reason for this not to be included...*@
                                <input type="date" asp-for="Player.BirthDate" class="form-control" />
                                <span asp-validation-for="Player.BirthDate" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Player.Team" class="control-label"></label>
                                <input asp-for="Player.Team" class="form-control" />
                                <span asp-validation-for="Player.Team" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Player.Salary" class="control-label"></label>
                                <input asp-for="Player.Salary" class="form-control" />
                                <span asp-validation-for="Player.Salary" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                @*<input type="submit" value="Save" class="btn btn-primary" />*@
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Player Info</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-action="Edit">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">

                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input id="playerID" type="hidden" asp-for="Player.Id" />
                            <div id="playerName" class="form-group">
                                <label asp-for="Player.Name" class="control-label"></label>
                                <input asp-for="Player.Name" class="form-control" />
                                <span asp-validation-for="Player.Name" class="text-danger"></span>
                            </div>
                            <div id="playerRating" class="form-group">
                                <label asp-for="Player.Rating" class="control-label"></label>
                                <input asp-for="Player.Rating" class="form-control" />
                                <span asp-validation-for="Player.Rating" class="text-danger"></span>
                            </div>
                            <div id="playerbday" class="form-group">
                                <label asp-for="Player.BirthDate" class="control-label"></label>
                                @*added type = date to ensure dynamic control, no reason for this not to be included...*@
                                <input type="date" asp-for="Player.BirthDate" class="form-control" />
                                <span asp-validation-for="Player.BirthDate" class="text-danger"></span>
                            </div>
                            <div id="playerteam" class="form-group">
                                <label asp-for="Player.Team" class="control-label"></label>
                                <input asp-for="Player.Team" class="form-control" />
                                <span asp-validation-for="Player.Team" class="text-danger"></span>
                            </div>
                            <div id="playerSalary" class="form-group">
                                <label asp-for="Player.Salary" class="control-label"></label>
                                <input asp-for="Player.Salary" class="form-control" />
                                <span asp-validation-for="Player.Salary" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                @*<input type="submit" value="Save" class="btn btn-primary" />*@
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="detailsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="detailsModalLabel">Player Info</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div>
                        <div>
                            <div class="container">
                                <dl id="detailsForm" class="row">
                                    <div>

                                    </div>
                                    <dt class="col-lg-3">
                                        @Html.DisplayNameFor(model => model.Player.Name)
                                    </dt>
                                    <dd class="col-lg-9">
                                        @Html.DisplayFor(model => model.Player.Name)
                                    </dd>
                                    <dt class="col-lg-3">
                                        @Html.DisplayNameFor(model => model.Player.Rating)
                                    </dt>
                                    <dd class="col-lg-9">
                                        @Html.DisplayFor(model => model.Player.Rating)
                                    </dd>
                                    <dt class="col-lg-3">
                                        @Html.DisplayNameFor(model => model.Player.BirthDate)
                                    </dt>
                                    <dd class="col-lg-9">
                                        @Html.DisplayFor(model => model.Player.BirthDate)
                                    </dd>
                                    <dt class="col-lg-3">
                                        @Html.DisplayNameFor(model => model.Player.Team)
                                    </dt>
                                    <dd class="col-lg-9">
                                        @Html.DisplayFor(model => model.Player.Team)
                                    </dd>
                                    <dt class="col-lg-3">
                                        @Html.DisplayNameFor(model => model.Player.Salary)
                                    </dt>
                                    <dd class="col-lg-9">
                                        @Html.DisplayFor(model => model.Player.Salary)
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="detailsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Player</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Delete this player?</p>
                <form asp-action="Delete">
                    <input type="hidden" asp-for="Player.Id" id="delPlayerId" />

                    <div class="container">
                        <dl id="detailsFormDelete" class="row">
                            <div>

                            </div>
                            <dt class="col-lg-3">
                                @Html.DisplayNameFor(model => model.Player.Name)
                            </dt>
                            <dd class="col-lg-9">
                                @Html.DisplayFor(model => model.Player.Name)
                            </dd>
                            <dt class="col-lg-3">
                                @Html.DisplayNameFor(model => model.Player.Rating)
                            </dt>
                            <dd class="col-lg-9">
                                @Html.DisplayFor(model => model.Player.Rating)
                            </dd>
                            <dt class="col-lg-3">
                                @Html.DisplayNameFor(model => model.Player.BirthDate)
                            </dt>
                            <dd class="col-lg-9">
                                @Html.DisplayFor(model => model.Player.BirthDate)
                            </dd>
                            <dt class="col-lg-3">
                                @Html.DisplayNameFor(model => model.Player.Team)
                            </dt>
                            <dd class="col-lg-9">
                                @Html.DisplayFor(model => model.Player.Team)
                            </dd>
                            <dt class="col-lg-3">
                                @Html.DisplayNameFor(model => model.Player.Salary)
                            </dt>
                            <dd class="col-lg-9">
                                @Html.DisplayFor(model => model.Player.Salary)
                            </dd>
                        </dl>
                    </div>
                    <input type="submit" value="Delete" class="btn btn-danger" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>

    var currId = -1;
    var pData = {};
    var players = [];
    window.onload = function ()
    {
        getAllPlayers();
    }
    
        // code smell?

        // need to generalize this ASAP, style of coding must be adopted early
        // how are you gonna handle another field being added? keep growing the method? not a great workflow
    // su isnt used anymore
    function getPlayerData(id, su)
    {
        var player = players.find(x => x.id == id);
        var playerID = $("#playerID" + su);
        var playerLabel = $("#playerName" + su + " > label");
        var playerName = $('#playerName' + su + ' > input');
        var fRating = $('#playerRating' + su + ' > input');
        var fBday = $('#playerbday' + su + ' > input');
        var fteam = $('#playerteam' + su + ' > input');
        var fSalary = $('#playerSalary' + su + ' > input');

        var playerRating = player.rating;
        var playerBday = new Date(player.birthDate);
        var playerTeam = player.team;
        var playerSalary = player.salary;
        var bdaystring = playerBday.toISOString().slice(0, 10);


        playerID.val(id);
        playerName.val(player.name);
        fRating.val(playerRating);
        fBday.val(bdaystring);
        fteam.val(playerTeam);
        fSalary.val(playerSalary);

        currId = id;
    }

    // fills the player data when entering the delete modal, through
    // a call to getItemIndex
    function fillDelPid(id)
    {
        var fDelPid = $("#delPlayerId");

        fDelPid.val(id);
        getItemIndex(id, 'Delete');
    }

    // takes a database id (passed from html, or a preceding method)
    // and attaches the data associated with the id to a form using
    // dd / dt tags

    function getItemIndex(id, form)
    {
        var player = players.find(x => x.id == id);
        var formStr = "#detailsForm" + form;
        var detailsDD = $(formStr + ' > dd');
        detailsDD[0].innerHTML = player.name;
        detailsDD[1].innerHTML = player.rating;
        detailsDD[2].innerHTML = player.birthDate.slice(0,10);
        detailsDD[3].innerHTML = player.team;
        detailsDD[4].innerHTML = player.salary;
    }

    // unused 
    // DELETE WHEN CLEANING UP

    function getEditData(id) {
        var playerName = $('#playerName > input')
        var fRating = $('#playerRating > input')
        var fBday = $('#playerbday > input')
        var fteam = $('#playerteam > input')
        var fSalary = $('#playerSalary > input')

        pData.name = playerName.val();
        pData.Rating = fRating.val();
        pData.birthDate = fBday.val();
        pData.team = fteam.val();
        pData.salary = fSalary.val();

    }

    // UNUSED DELETE
    function submitEdit() {

        getEditData(currId)
        // do people actually like the ajax syntax???

        console.log("pData object right before AJAX call: ")
        console.log(pData)
        $.ajax({
            url: "@Url.Action("SubmitEdit", "Players")",
            type: 'post',
            data: {id: pData.id, player: pData},
            success: function (result) {
                console.log('success')
            },
            error: function (result) {
                console.log(result)
            }
        })

        return false;
    }


    // fills the LeagueID input field (hidden) in the create
    // view to the current operating ID (default is NHL's id)
    function fillPlayerLeagueID(id)
    {
        var idField = $('#playerLeagueID');
        idField.val(id);
    }

    // snippet i got this from calls them 'URIs' -- archaic
    var playersUri = '/api/players/'; // call them URLs, not uri


    // calls the ajaxhelper method with GET method, accepts a call back
    // parameter but doesn't do anything -- edit out later
    function getAllPlayers(callback) {

        // this is the most frustrating interface i have ever used
        ajaxHelper(playersUri, 'GET').done(cb);
    }

    // With ajax, we can't guarantee the players object will be filled
    // by the time the page loads, so disabling the edit buttons kind of
    // works around that

    // callback for the ajax helper method (see jQuery done() method docs)
    // this calls after the ajax succeeds
    function cb(data) {
        players = data;
        $('.edit').prop('disabled', false);
    }
</script>
